{% extends 'base.html' %} {% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Cerrar operativo</h1>
    </div>
    <form method="post">
        {%csrf_token%}
        <input value="{{operativo.id}}" type="hidden" id="id" name="id" required>
        <h5>¿Esta seguro que quiere cerrar el operativo?</h5>
        <button type="submit" class="btn btn-sm btn-primary">Cerrar</button>
    </form>
</main>
{% endblock %}