{% extends 'base.html' %} {% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Operativos</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a type="button" href="{% url 'operativos_crear' %}" class="btn btn-sm btn-primary">Nuevo operativo</a>
            </div>
        </div>
    </div>
    {% include 'partials/messages.html' %}
    <div class="table-responsive">
        <table id="beneficiarios_tabla">
            <thead>
                <tr>
                    <th style="padding: 10px 10px;">Fecha</th>
                    <th style="padding: 10px 10px;">Status</th>
                    <th style="padding: 10px 10px;">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %} {% for operativo in object_list %}
                <tr>
                    <td>{{operativo.fecha}}</td>
                    {% if operativo.status %}
                    <td>
                        <span class="badge badge-success">Abierto</span>
                    </td>
                    {% else %}
                    <td>
                        <span class="badge badge-danger">Cerrado</span>
                    </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'operativos_administrar' operativo.pk %}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top">
                            Ir a operativo
                        </a>
                    </td>
                </tr>
                {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}